@media (max-width: 600px) and (min-width: 1px){
	body{
		font-family: 'Raleway';
		font-weight: 400;
	}
	#responsive{
		background-color: #16a085;
		padding: 20px;
		width: 100%;
		text-decoration: none;
		font-weight: 400;
		font-size: 18px;
		color: #fff;
	}
	#responsive i{
		margin-right: 20px;
	}
	.menu{
		flex-direction: column;
	}
	.menu ul{
		flex-direction: column;
	}
	.menu ul li{
		background-color: #1abc9c;
		padding: 20px;
		border-bottom: 1px solid white;
		cursor: pointer;
	}
	.menu ul li a{
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}
	.menu ul li:hover{
		background-color:  #16a085;
	}
	.show{
		display: none;
	}
}

@media (min-width: 601px){
	#responsive{
		display: none;
		width: 100%;
	}
	.menu {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-end;
	}
	.menu ul{
		background-color: #1abc9c;
		justify-content: center;
		align-items: center;
			list-style: none;
	width: 100%;
	top: 30px;

	}
	.menu ul li{
		border-right: 1px solid white;
		background-color: #1abc9c;
		cursor: pointer;
		width: 100%;
		height: 6.5vh;
		text-align: center;
		align-items: center;
		padding-top: 20px;
	}
	.menu ul li a{
		text-decoration: none;
		color: #fff;
		padding-top:50px;
		align-items: center;
		margin-top: 30px;
		

	}
	.menu ul li:hover{
		background-color: #16a085;
	}
}